*{
  text-decoration: none;
  list-style-type:none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/

*{
  text-decoration:none;
}

body{
  background-color: #111;
}

header{
  background-color: #4d3d00;
  width: 100%;
  height: 100px;
}
header .header-brand {
  font-family:catamaran;
  font-size: 30px;
  font-weight: 602;
  color: #fff;
  display:block;
  margin: 0 auto;
  text-align:center;
  padding: 25px 0;
}

header nav ul{
  display: block;
  margin:0 auto;
  width:fit-content;
}

header nav ul li{
  display: inline-block;
  float: left;
  list style:none;
  padding: 0 18px;
}

header nav ul li a{
  font-family:catamaran;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

header .header-projects{
  display: none;
}

@media only screen and (min-width: 1000px){
  header .header-brand {
    margin: 32px 0 ;
    text-align: left;
    line-height: 36px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid #fff;
    float: left;
    padding: 0 20px;
  }
  header .header-brand:hover{
    font-size: 35px;
    text-decoration: underline;
  }
  header nav ul{
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header nav ul li a{
    font-size: 22px;
    line-height: 60px;
  }
  header nav ul li a:hover{
    font-size: 29px;
    text-decoration: underline;
    font-style: italic;
  }
  header .header-projects{
    display: block;
    font-family:catamaran;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    border: 1px solid #fff;
    float: right;
    margin-right: 40px;
    margin-top: 29px;
    padding: 0 20px;
  }
  header .header-projects:hover{
    font-size:20px;
    text-decoration: underline;
  }
}


/*INDEX*/
.index-banner{
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('image/bckimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
 }
.bannerdiv{
    display: table-cell;
    vertical-align: bottom;

}


.index-banner h1{
  padding-top: 10px;
  font-family: Motserrat;
  font-size: 60px;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
  font-weight: 900;
  color: #fff;
}

.index-banner h2{
  font-family: Catamaran ;
  font-size: 20px;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.index-links div {
  margin: 10px 10px ;
  width: calc(100%-20px);
  height: 100px;
  background-color: #ffd11a;
}
.index-links div:hover{
  background-color: #cca300;
}

.index-links div h3{
  line-height: 100px;
  font-family: Catamaran ;
  font-size: 28px;
  text-shadow: 2px 2px 8px #fff;
  text-align: center;
  font-weight: 600;
  color: #111;
  font-height: 40px;
}

.index-links div h3:hover{
  font-size: 35px;
  text-decoration: underline;
  font-style: italic;
}

@media only screen and (min-width: 1000px){
  .wrapper{
    background-color: #000d1a;
    width:100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .index-banner{
    height: 750px;
}
.index-links{
  overflow: hidden;
}
.index-links div {
  margin: 20px 10px 0;
  height: 230px;
  float: left;
}
.box-1{
  width: calc(50% - 20px) !important;
}
.box-2{
  width: calc(50% - 20px) !important;
}
.index-links div h3{
  line-height: 230px;
}
}


/*FOOTER*/
footer{
  width: 100%;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}
footer ul{
  width: fit-content;
  float: left;
  padding-left: 20px;
}
footer ul li{
  display: block;
  list style:none;
  line-height: 25px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
}

.footer-links{
  width: 75px;
  padding-right: 1px;
  float: right;
}

.footer-links img{
  width: 50%;
  margin-bottom: 10px;
  margin:top: 10px;
}

/*NOTYET PAGE*/
.not{
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('image/not.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
@media only screen and (min-width: 1000px){
  .not{
    height: 750px;
    background-position: center;
  }
}

/*BLOGS PAGE*/
.blog-main{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('image/sky.jpg');
}
.me-info{
  width: 100%;
}
.me-info h2{
  width:100%;
  padding-top: 5px;
  font-family: Montserrat;
  font-size: 44px;
  color: #fff;
  line-height: 44px;
  text-shadow: 2px 2px 8px #fff;
  text-align: center;
}
.me-info p{
  width: auto;
  padding-left: 5px;
  padding right: 5px;
  padding-top: 20px;
  font-family: catamaran;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 8px #fff;
  line-height: 23px;
}
.photo-taru{
  width: 100%;
  padding-top: 10px;
}

@media only screen and (min-width: 1000px){
.blog-main{
  padding :20px 20px 20px 20px'

  margin-bottom: 20px;
  
  overflow: hidden;
}
.me-info{
  width: 50%;
  float: right;
}
.me-info p{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.photo-taru{
  width: 50%;
  height: auto;
  float: left;
  padding-bottom: 20px;
  border-radius: 50%;
}
.photo-taru:hover{

}



}
